<h2>Eventos</h2>
<hr />

<div class="form-inline">
    <div class="form-group mb-2 d-flex align-items-center">
        <label class="mr-2 mb-0">Filtro: </label>
        <input type="text" class="form-control w-25" placeholder="buscar" [(ngModel)]="filterList" />
      </div>
</div>

<table class="table table-hover table-dark">
  <thead class="thead-dark">
    <tr>
        <th><button type="button" class="btn btn-outline-light btn-sm" (click)="changeImg()">{{!showImg ? 'Exibir' : 'Esconder'}}</button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFilter">
        <td>
          <img [collapse]="!showImg"
               [isAnimated]="true"
            src="{{ evento.imagemURL }}"
            alt="Imagem de exemplo de uma palestra"
            [style.width.px]="widthImg"
            [style.margin.px]="marginImg"
          />
        </td>
      <td>{{ evento.eventoId }}</td>

      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lote }}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos && !eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado.</h4>
      </td>
    </tr>
  </tfoot>
</table>
